@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto&display=swap');
/*
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;
*/
* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Nunito', sans-serif;
}
/* LAYOUT */

body {
  display: flex;
}


.panel {
  height: 100vh;
  width: 50vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#left-panel {
  background-color: #5d9b9b; /*rgba(255,255,255,1); red green blue alpha*/
}

#right-panel {
  background-color: cornsilk;
}

/*CANVAS*/
#canvas-container {
  border: 1px solid white;
  margin-bottom: 5px;
}

/*DROPZONE*/
#dropzone {
  width: 320px;
  height: 80px;
  border: 1px dashed white;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}

#dropzone.dragover {
  border: 2px solid white;
  background-color: rgba(0,0,0,0.3);
}

/*DOWNLOAD BUTTON*/

#download-button {
  width: 320px;
  height: 40px;
  margin-top: 5px;

  background-color: white;
  cursor: pointer;
}

#download-button:hover {
  background-color: lightgrey;

}

/*PRSET SELECT*/
#preset-select {
  margin-top: 50px;
}

/* EXTRA SETTINGS */
#extra-settings{
  margin-top: 20px;
  display: flex;
  align-items: center;
}

#extra-settings p, #extra-settings label{
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
}

#color-box{
  height: 20px;
  width: 40px;
  background-color: white;
  border: 1px solid black;
}
